/* setup, font */
:root {
    --gradient: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    --header-color: #111111;
    --ava-color: #444444;
    --background-color: #111111;
    --text-color: #e0e0e0;
    --primary-color: #ffffff;
    --border-color: #333333;
    --card-background: #1a1a1a;
    --key-white: #fafafa;
    --key-black: #222222;
    --key-white-active: #cccccc;
    --key-black-active: #444444;
    --key-white-hover: #e9e9e9; 
    --key-black-hover: #333333;  
}

body.light-mode {
    --gradient: linear-gradient(rgba(97, 90, 90, 0.7), rgba(221, 221, 221, 0.7));
    --header-color: #ffffff;
    --ava-color: #f2baba;
    --background-color: #ffffff;
    --text-color: #333333;
    --primary-color: #000000;
    --border-color: #dddddd;
    --card-background: #ffffff;
    --key-white: #fafafa; 
    --key-black: #222222; 
    --key-white-active: #cccccc; 
    --key-black-active: #444444; 
    --key-white-hover: #e9e9e9;
    --key-black-hover: #333333;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'JetBrains Mono', monospace;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

/* header and navigation */
header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1.5rem 5%;
    background-color: var(--header-color);
    backdrop-filter: blur(10px);
    z-index: 100;
    text-align: center;
}

nav a {
    display: inline-block; 
    color: var(--text-color);
    text-decoration: none;
    margin: 0 1rem;
    font-weight: 300;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
    color: var(--primary-color);
    transform: scale(1.5); 
}

/* theme toggle button */
#theme-toggle {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    
    width: 48px; 
    height: 48px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: transform 0.3s ease;
    background-image: url('images/light-mode.png');
}

body.light-mode #theme-toggle {
    background-image: url('images/dark-mode.png');
}

#theme-toggle:hover {
    transform: scale(1.1);
}


/* section styling*/
section {
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 5%;
    border-bottom: 1px solid var(--border-color);
}

.content-wrapper {
    max-width: 800px;
    text-align: center;
}

h1 {
    font-size: 3rem;
    color: var(--primary-color);
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 3rem;
    color: var(--primary-color);
    margin-bottom: 2rem;
}

.subtitle {
    font-size: 1.2rem;
    font-weight: 300;
}

p {
    font-weight: 300;
    font-size: 1.1rem;
}

#hero .hero-content {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 100px;
    gap: 3rem;
    flex-wrap: wrap; 
}

#hero .avatar-container img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    background-color: var(--ava-color); 
    border: 3px solid var(--border-color);
}

#hero .hero-text {
    text-align: left;
    max-width: 100rem;
    line-break: normal;
    min-height: 10rem;
    font-size: 3rem;
    font-weight: bold;
}

/* experience timeline */
#experience h2 {
    margin-bottom: 4rem;
}
.timeline {
    position: relative;
    width: 100%;
    max-width: 800px;
    padding: 2rem 0;
}


.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 15px; 
    height: 100%;
    width: 2px;
    background-color: var(--border-color);
}

.timeline-item {
    position: relative;
    margin-bottom: 3rem;
    padding-left: 50px; 
}
.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-dot {
    position: absolute;
    left: -10px;  
    top: -6px;
    height: 50px; 
    width: 50px; 
    background-color: #333; 
    border-radius: 50%;
    z-index: 2;

  
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
}
/* exp specific logos */

/* intern, job */
#mhc .timeline-dot {
    background-image: url('images/vcb.png');
}

#moho .timeline-dot {
    background-image: url('images/mhc-logo.jpg');
}
/* more for other experiences later */
/*
#exp-internship .timeline-dot {
    background-image: url('images/company-logo.png');
}
*/

.timeline-content {
    background-color: var(--card-background);
    border: 1px solid var(--border-color);
    padding: 1.5rem;
    border-radius: 8px;
}

.timeline-content h3 {
    font-size: 1.2rem;
    color: var(--primary-color);
}
.timeline-content h4 {
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 300;
    margin-bottom: 0.5rem;
}
.timeline-content .date {
    font-size: 0.9rem;
    font-weight: 300;
    color: var(--text-color);
    display: block;
    margin-bottom: 1rem;
}


/*projects grid*/
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    width: 100%;
}

.project-card {
    position: relative; 
    overflow: hidden; 
    background-color: var(--card-background);
    border: 1px solid var(--border-color);
    padding: 1.5rem;
    border-radius: 8px;
    transition: transform 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;
}


.project-card:hover {
    transform: translateY(-5px);
    border-color: var(--primary-color);
}

.project-card:hover h3,
.project-card:hover p,
/* .project-card:hover a {
    color: var(--primary-color); 
} */

a {
    color: var(--primary-color); 
    font-weight: bold;
}

/*specific backgrounds*/

/*prj1*/
#project-1:hover {
    background-image: 
        var(--gradient),
        url('images/project-image-01.png');
    background-size: cover;
    background-position: center;
}

/* prj2 */
#project-2:hover {
    background-image: 
        var(--gradient),
        url('images/project-image-02.png');
    background-size: cover;
    background-position: center;
}

/* contact section*/
.social-links {
    margin-top: 2rem;
}

/* contact section*/
.social-links {
    margin-top: 2rem;
    display: flex; 
    justify-content: center;
    gap: 2rem; 
}

.social-links a img {
    height: 64px;
    /* opacity: 0.8; slightly fade the icon */
    transition: transform 0.3s ease, opacity 0.3s ease; 
}

.social-links a:hover img {
    transform: scale(1.2); 
    opacity: 1; 
}

#piano-section {
    background-color: #000;
    border-bottom: none;
}

#piano {
    position: relative;
    display: flex;
    height: 250px;
    
    /* centering */
    margin-top: 4rem; /* nice spacing above the piano */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
}

.key {
    cursor: pointer;
    border: 1px solid #333;
    border-radius: 0 0 5px 5px;
    user-select: none; 
    transition: background-color 0.1s ease;
}

.key.white {
    width: 50px;
    height: 100%;
    background-color: var(--key-white);
    z-index: 1;
}

.key.white.active {
    background-color: var(--key-white-active);
}

.key.black {
    position: absolute;
    width: 30px;
    height: 60%;
    background-color: var(--key-black);
    z-index: 2;
    transform: translateX(-50%); 
    border-radius: 0 0 3px 3px;
}

.key.black.active {
    background-color: var(--key-black-active);
}
.key.white:hover {
    background-color: var(--key-white-hover);
}
.key.black:hover {
    background-color: var(--key-black-hover);
}
/* typecursor */
.typed-cursor {
    font-size: 3rem;
    color: var(--primary-color);
    animation: blink 0.7s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* mobile specific */
@media (max-width: 768px) {
    section {
        padding: 2rem 1.5rem;
    }

    h1 {
        font-size: 2.4rem;
    }

    h2 {
        font-size: 2rem;
    }

    .subtitle {
        font-size: 1rem; 
    }


    header {
        padding: 2rem 5%; 
    }
    nav a {
        margin: 0 0.5rem; 
        font-size: 0.9rem;
    }
    #theme-toggle {
        font-size: 1.2rem;
    }


    #hero .hero-content {
        flex-direction: column; 
        margin: 0; 
        text-align: center;
        gap: 2rem;
    }
    #hero .hero-text {
        text-align: center; 
        max-width: 100%;
        font-size: 1.8rem; 
    }
    .typed-cursor {
        font-size: 1.2rem; 
    }
    
    .timeline::before {
        left: 12px;
    }
    .timeline-item {
        padding-left: 40px; 
    }
    .timeline-dot {
        left: 0;
    }

    .resume-embed-container {
        height: 10vh;
    }
    #piano {
        transform: scale(0.6);
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}